body {
  background-color: #fbf7f5;
}

.btn-primary {
  background-color: #c93f4b;
  border-color: #c93f4b;
}

.btn-primary.disabled, .btn-primary:disabled
{
  background-color: #c93f4b;
  border-color: #c93f4b;
}

.syrup .bg-primary.boost-header {
  background-color: #342f2f !important;
}

.bg-primary {
  background-color: #c93f4b !important;
}

.inactive .bg-primary {
  background-color: #827e7f !important;
}

.syrup .bg-primary {
  background-color: #640505 !important;
}

.border-primary {
  border-color: #c93f4b !important;
}

.inactive .border-primary {
  border-color: #000 !important;
}

.btn-primary:hover {
    color: #fbf7f5;
    background-color: #e30606;
    border-color: #e30606;
}

.btn-outline-primary {
    color: #c93f4b;
    border-color: #c93f4b;
}

.form-check-input:checked {
  background-color: #c93f4b;
  border-color: #c93f4b;
}

.form-check-input:focus {
  border-color: #f16b77;
}

/* Dark theme */

body[data-theme="dark"],
body[data-theme="dark"] .offcanvas
{
  background-color: #363636;
}

body[data-theme="dark"] #logolink span,
body[data-theme="dark"] h1,
body[data-theme="dark"] h2,
body[data-theme="dark"] h3,
body[data-theme="dark"] h4,
body[data-theme="dark"] h5,
body[data-theme="dark"] dd,
body[data-theme="dark"] dt,
body[data-theme="dark"] .modal-body,
body[data-theme="dark"] .modal-header .button,
body[data-theme="dark"] .offcanvas-body,
body[data-theme="dark"] label,
body[data-theme="dark"] p
{
  color: #FFF;
}

body[data-theme="dark"] .text-muted {
  color: #c0cfdc;
}

body[data-theme="dark"] .card-body,
body[data-theme="dark"] .card-body form
{
  background-color: #c0c0c0;
}

body[data-theme="dark"] .card-title span {
  color: #363636;
}

body[data-theme="dark"] h1.card-title,
body[data-theme="dark"] h2.card-title,
body[data-theme="dark"] h3.card-title,
body[data-theme="dark"] h4.card-title,
body[data-theme="dark"] h5.card-title
{
  color: #464545 !important;
}


body[data-theme="dark"] h1.card-title .text-muted,
body[data-theme="dark"] h2.card-title .text-muted,
body[data-theme="dark"] h3.card-title .text-muted,
body[data-theme="dark"] h4.card-title .text-muted,
body[data-theme="dark"] h5.card-title .text-muted 
{
  color: #5e5d5d !important;
}

body[data-theme="dark"] .form-control
{
  background-color: #e6e6e6;
}

footer#stickybottom
{
  background-color: #d8d8d8!important;
}

body[data-theme="dark"] footer#stickybottom
{
  background-color: #212529!important;
}

body[data-theme="dark"] .modal-content
{
  background-color: #212529!important;
}

body[data-theme="dark"] .modal-footer,
body[data-theme="dark"] .modal-header
{
  border-color: #444444;
}

body[data-theme="dark"] #loading_pools
{
  color: #FFFFFF;
}

.ripple {
  margin: auto;
  /*margin-top: 15rem;*/
  background-color: #571221;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: relative;
  animation: ripple 3s linear infinite
}

.ripple::before,
.ripple::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  animation: ripple 3s linear infinite 1s
}

.ripple::after {
  animation: ripple 3s linear infinite 2s
}

@keyframes ripple {
  0% {
      box-shadow: 0 0 0 .7rem rgba(255, 255, 255, 0.2)
  }

  100% {
      box-shadow: 0 0 0 8rem rgba(255, 255, 255, 0)
  }
}