body {
  background-color: #fbf7f5;
  background-repeat: repeat;
}

.btn-primary {
  background-color: #c93f4b;
  border-color: #c93f4b;
}

.btn-primary.disabled, .btn-primary:disabled
{
  background-color: #c93f4b;
  border-color: #c93f4b;	
}

.bg-primary {
  background-color: #c93f4b !important;
}

.border-primary {
  border-color: #c93f4b !important;
}

.btn-primary:hover {
    color: #fbf7f5;
    background-color: #e30606;
    border-color: #e30606;
}

.btn-outline-primary {
    color: #c93f4b;
    border-color: #c93f4b;
}
